.spotdetails-container {
  margin-left: 32px;
  margin-top: 22px;
}

.spotdetails-h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

.spotdetails-h2 {
  font-weight: 400;
  font-size: 20px;
  color: rgb(116, 116, 116);
  margin-top: 2px;
}

.spotdetails-previewImage {
  width: 456px;
  height: 424px;
  object-fit: cover;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.spotdetails-sideImages-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-left: 6px;
}

.spotdetails-sideImages {
  width: 237px;
  height: 210px;
  object-fit: cover;
}

.spotdetails-imagesplitter {
  display: flex;
}

.spotdetails-host {
  color: rgb(84, 84, 84);
  display: flex;
  align-items: center;
}

.spotdetails-hostname {
  color: rgb(48, 48, 48);
  font-weight: bold;
}

.spotdetails-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  width: 200px;

  gap: 15px;
  border-top: 1px solid rgb(215, 215, 215);
  border-bottom: 1px solid rgb(215, 215, 215);
  width: 550px;
  height: 165px;
}

.spotdetails-descriptionlink {
  margin-top: 0px;
  font-weight: bold;
  text-decoration: underline;
}

.spotdetails-descriptionlink:hover {
 cursor: pointer;
}

.spotdetails-information-container{
  display: flex;
  column-gap: 50px;
}

.spotdetails-reservebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  padding: 10px 20px 25px 20px;
  width: 300px;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.spotdetails-reservetop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 5px;
}

.starreviews {
  display: flex;
  align-items: center;
  justify-content: center;
}

.starreviews > i {
  font-size: 12px;
  margin-top: 2px;
}

.starreviews > p {
  font-size: 14px;
  margin-right: 10px;
}

.spotdetails-numstars {
  /* font-weight: bold; */
  margin-top: 16px;
}

.spotdetails-reviewtext {
  margin-bottom: 12px;
}

.reserve-button {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  color: white;
  font-weight: bold;
  background-color: rgb(88, 163, 88);
  border: none;
  border-radius: 5px;
}

.reserve-button:hover {
  cursor: pointer;
  background-color: rgb(96, 165, 96);
}

.reserve-button:active {
  background-color: rgb(96, 165, 96);
  box-shadow: 0 2px #8f8f8f;
  transform: translateY(1px);
}

.spotdetails-newtext{
  margin-left: 5px;
}

#topright {
  border-top-right-radius: 11px;
}

#bottomright {
  border-bottom-right-radius: 11px;
}
