.managespotspage-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.manage-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-left: 20px;
}

.manage-header > h1 {
  font-size: 24px;
  margin-left: 0px;
}

.managespots-container {
  margin-top: 0px;
}

.manage-createbutton {
  color: white;
  background-color:rgb(63, 180, 63);
  border: none;
  width: 140px;
  height: 30px;
}

.manage-createbutton:hover {
  cursor: pointer;
  background-color: rgb(96, 165, 96);
}

.manage-createbutton:active {
  background-color: rgb(96, 165, 96);
  box-shadow: 0 1px #8f8f8f;
  transform: translateY(1px);
}

.manage-updatebutton {
  color: rgb(63, 180, 63);
  background-color:white;
  border-radius: 18px;
  border: 1px solid rgb(63, 180, 63);
  width: 80px;
  height: 30px;
}

.manage-updatebutton:hover {
  cursor: pointer;
  font-weight: bold;
}

.manage-updatebutton:active {
  box-shadow: 0 1px #8f8f8f;
  transform: translateY(2px);
}
