.signup-container {
  display: flex;
  flex-direction: column;
  padding: 12px 28px 12px;
  border: 3px solid rgb(93, 93, 93);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 380px;
  padding-bottom: 30px;
}

.signup-container > h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.signup-label {
  font-weight: bold;
}

.label-input-container {
  display: flex;
}

.signup-errors {
  color: red;
  font-size: 14px;
  margin-top: 0px;
}

.signup-submitbutton {
  background-color: rgb(88, 163, 88);
  height: 45px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}

.signup-submitbutton:disabled {
  border: 1px solid rgb(166, 210, 149);
  background-color: white;
  color: rgb(166, 210, 149);
}

.signup-submitbutton:hover:enabled {
  cursor: pointer;
  background-color: rgb(97, 181, 97);
}

.signup-submitbutton:active:enabled {
  box-shadow: 0 2px #8f8f8f;
  transform: translateY(2px);
}
