.onespot-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.onespot-image {
  object-fit: cover;
  width: 100%;
  max-width: 299px;
  height: 283px;

  border-radius: 10px;
}

.onespot-info {
  width: 288px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.onespot-location {
  font-size: 15px;
  padding-top: 0px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.onespot-price {
  font-size: 13px;
  margin-top: 7px;

  color: rgb(108, 108, 108);
}

.onespot-new {
  font-size: 14px;
  margin-top: 8px;
}

.fa-star {
  color: rgb(6, 7, 6);
  margin-top: 8px;
  font-size: 11px;
}

.onespot-image:hover {
  cursor: pointer;
}

.update-delete-container {
  display: flex;
  column-gap: 10px;
  margin-bottom: 15px;
}
