.onespot-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.onespot-image {
  object-fit: cover;
  width: 100%;
  max-width: 299px;
  height: 283px;
  border-radius: 10px;
}

.onespot-info {
  width: 294px;
  display: flex;
  justify-content: space-between;
}

.onespot-location {
  font-size: 15px;
  padding-top: 0px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.onespot-price {
  font-size: 13px;
  margin-top: 4px;

  color: rgb(114, 114, 114);
}

.onespot-new {
  font-size: 14px;
  margin-top: 8px;
  color: rgb(96, 96, 96);
  font-weight: 300;
}

.fa-reviewstar {
  color: rgb(63, 180, 63);
  font-size: 11px;
}

.onespot-image:hover {
  cursor: pointer;
}

.update-delete-container {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 15px;
}

.star-rating-container {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-top: 5px;
  padding: 0px;
  height: 22px;
}

.star-rating-container > p {
  font-size: 14px;
  margin-top: 17px;
}

.manage-deletebutton {
  border: 1px solid rgb(255, 53, 53);
  border-radius: 18px;
  display: flex;
  align-items: center;
  background-color: white;
  color: rgb(255, 53, 53);
  font-size: 14px;
  padding: 6px 18px;
}

.manage-deletebutton:hover {
  cursor: pointer;
  font-weight: bold;
  transition-delay: 0s;
}

.manage-deletebutton:active {
  box-shadow: 0 1px #8f8f8f;
  transform: translateY(1px);
}
