.delete-modal-popup {
  display: flex;
  flex-direction: column;

  width: 380px;
  padding: 24px 24px 18px;
  border: 2px solid rgb(113, 113, 113);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.delete-modal-popup > h1 {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 16px;
}


.delete-modal-popup > h2 {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.delete-modal-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  column-gap: 100px;
}

.modal-button {
  background-color: white;
  padding: 5px 10px;
  height: 35px;
  margin-bottom: 10px;
}

#confirm-button {
  color: white;
  background-color: rgb(211, 0, 0);
}

#cancel-button {
  color: white;
  background-color: rgb(73, 73, 73);
}


#confirm-button:hover {
  cursor: pointer;
  background-color: rgb(239, 62, 62);
  transition-delay: 0s;
}

#cancel-button:hover {
  cursor: pointer;
  background-color: rgb(114, 114, 114);
  transition-delay: 0s;
}

#confirm-button:active {
  box-shadow: 0 1px #8f8f8f;
  transform: translateY(2px);
}

#cancel-button:active {
  box-shadow: 0 1px #8f8f8f;
  transform: translateY(2px);
}
