.createreview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 16px 18px 18px;
  border: 3px solid rgb(95, 95, 95);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.createreview-description {
  margin-bottom: 20px;
  margin-top: 0px;
  width: 300px;
  height: 90px;
  font-size: 14px;
}

.createreview-starscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 5px;
}

.createreview-starscontainer > p {
  color: rgb(63, 180, 63);
  margin-bottom: 41px;
}

#createreview-submitbutton:disabled {
  border: 1px solid rgb(201, 201, 201);
  background-color: white;
  color: rgb(216, 216, 216);
}

#createreview-submitbutton {
  background-color: rgb(63, 180, 63);
  height: 45px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
}

#createreview-submitbutton:hover:enabled {
  cursor: pointer;
  background-color: rgb(60, 192, 60);
}
