.allspots-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-self:start;

  column-gap: 24px;
  margin-top: 33px;
  place-items: center;
}

@media (min-width: 1200px) {
  .allspots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
  }

  .onespot-image {
    max-width: 400px;
    max-height: 420px;
    height: 360px;
  }

  .onespot-container {
    max-width: 400px;
  }

  .onespot-image-container {
    width: 400px;
  }

  .onespot-info {
    width: 100%;
  }

  .spotdetails-container {
    width: 1000px;
    margin: 0 auto;
  }
}
