.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 550px;
  border: 1px solid red;
}

.spotform-inputs {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}
