.hidden {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 25px 18px 25px;
  border-bottom:1px solid rgb(217, 217, 217);
  background-color: rgb(254, 254, 254);
}

.profile-dropdown {
  position: absolute;
  width: 150px;
  max-width: 150px;
  top: 70px;
  right: 36px;
  padding: 10px;

  line-height: 30px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 10px;
  box-shadow: 1px 3px 7px -2px rgb(202, 202, 202);
  background-color: white;
}

.user-profile-button {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 20px;
  background-color: white;
  padding: 5px 10px;
}

.fa-user-circle {
  font-size: 22px;
  color: rgb(105, 105, 105)
}

.fa-bars {
  font-size: 14px;
  margin-right: 10px;
  color: rgb(105, 105, 105)
}

#profile-dropdown-loggedin {
  z-index: 10;
  width: 230px;
  max-width: 230px;
}

#profile-dropdown-loggedout {
  z-index: 10;
}


.seedbnb-logo {
  width: 167px;
  height: 60px;
  margin-left: 20px;
}

.user-profile-button-container:hover {
  cursor: pointer;
}

.user-profile-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px #d6d6d6;
  transition-delay: 4ms;
}

.user-profile-button:focus {
  box-shadow: 2px 2px #d6d6d6;
}

.modal-text:hover {
  background-color:#f8f8f8;
  transition-delay: 2ms;
}
