.login-container {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 4px 24px 18px;
  border: 2px solid rgb(113, 113, 113);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.login-container > h1 {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

label {
 margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
}

.login-button:disabled {
  border: 1px solid rgb(166, 210, 149);
  background-color: white;
  color: rgb(166, 210, 149);
}

.login-button {
    color: white;
    border: rgb(97, 181, 97);
    background-color: rgb(97, 181, 97);
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.login-button:hover:enabled {
  cursor: pointer;
  background-color: rgb(92, 199, 80);
}

.login-button:active:enabled {
  box-shadow: 0 2px #8f8f8f;
  transform: translateY(2px);
}

.demo-button {
  background-color: rgb(160, 113, 61);
  border: rgb(171, 160, 144);
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 12px;
  height: 40px;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.demo-button:hover {
  cursor: pointer;
  background-color: rgb(176, 134, 79)
}

.demo-button:active {
  box-shadow: 0 2px #8f8f8f;
  transform: translateY(2px);
}

.login-error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 0px;
}
